/*
  Josh's Custom CSS Reset
  https://www.joshwcomeau.com/css/custom-css-reset/
*/
*, *::before, *::after {
  box-sizing: border-box;
}

*:not(dialog) {
  margin: 0;
}

@media (prefers-reduced-motion: no-preference) {
  html {
    interpolate-size: allow-keywords;
  }
}
body {
  line-height: 1.5;
  -webkit-font-smoothing: antialiased;
}

img, picture, video, canvas, svg {
  display: block;
  max-width: 100%;
}

input, button, textarea, select {
  font: inherit;
}

p, h1, h2, h3, h4, h5, h6 {
  overflow-wrap: break-word;
}

p {
  text-wrap: pretty;
}

h1, h2, h3, h4, h5, h6 {
  text-wrap: balance;
}

#root, #__next {
  isolation: isolate;
}

/*
  Added by Drip programmers:
*/
:where(h1) {
  font-size: 2em;
  margin-block: 0.67em;
}

:root {
  --drip-color-background: #f9f9f9;
  --drip-color-border: #909090;
  --drip-color-button-background: #1B4fb7;
  --drip-color-button-text: #f9f9f9;
  --drip-color-input: #ffffff;
  --drip-color-link: #1b1bf9;
  --drip-color-link-visited: #761b76;
  --drip-color-text: #1b1b1b;
  --drip-color-text-muted: #525565;
  --drip-container-width: 70rem;
  --drip-dialog-width: 44rem;
  --drip-spacing: 0.67rem;
  --drip-padding: 0.25rem;
  --drip-small-text-size: 0.8em;
  --drip-icon-size: 1em;
  --drip-icon-close: url("data:image/svg+xml,%3Csvg%20xmlns%3D%22http%3A%2F%2Fwww.w3.org%2F2000%2Fsvg%22%20width%3D%2210%22%20height%3D%2210%22%20viewBox%3D%220%200%2010%2010%22%20stroke-linecap%3D%22round%22%3E%3Cpath%20stroke%3D%22currentColor%22%20d%3D%22M1%2C1l8%2C8%20M9%2C1l-8%2C8%22%20%2F%3E%3C%2Fsvg%3E");
  --drip-icon-external: url("data:image/svg+xml,%3Csvg%20xmlns%3D%22http%3A%2F%2Fwww.w3.org%2F2000%2Fsvg%22%20width%3D%2210%22%20height%3D%2210%22%20viewBox%3D%220%200%2010%2010%22%20stroke-linejoin%3D%22round%22%20stroke-linecap%3D%22round%22%3E%3Cpath%20stroke%3D%22currentColor%22%20fill%3D%22none%22%20d%3D%22M4%2C1h-3v8h8v-3M6%2C1h3v3M9%2C1l-4%2C4%22%2F%3E%3C%2Fsvg%3E");
  --drip-icon-search: url("data:image/svg+xml,%3Csvg%20xmlns%3D%22http%3A%2F%2Fwww.w3.org%2F2000%2Fsvg%22%20width%3D%22100%22%20height%3D%22100%22%20viewBox%3D%220%200%2099%2099%22%20fill%3D%22none%22%20stroke%3D%22%23767676%22%20stroke-linecap%3D%22round%22%3E%3Ccircle%20stroke-width%3D%2210%22%20cx%3D%2239%22%20cy%3D%2239%22%20r%3D%2234%22%2F%3E%3Cpath%20stroke-width%3D%2210%22%20d%3D%22M64%2C64l30%2C30%22%2F%3E%3C%2Fsvg%3E");
}

@media (prefers-color-scheme: dark) {
  :root {
    --drip-color-background: #1b1b1b;
    --drip-color-border: #676767;
    --drip-color-button-background: #6da7f9;
    --drip-color-button-text: #1b1b1b;
    --drip-color-input: #000000;
    --drip-color-link: #1baff9;
    --drip-color-link-visited: #b793f9;
    --drip-color-text: #f9f9f9;
    --drip-color-text-muted: #a6a6a6;
  }
}
dialog {
  background-color: var(--drip-color-background);
  border-color: var(--drip-color-text);
  border-radius: var(--drip-padding);
  border-style: solid;
  border-width: 2px;
  padding: var(--drip-spacing);
  width: var(--drip-dialog-width);
  max-width: 100%;
}
dialog::backdrop {
  background-color: rgb(from #767676 r g b/0.67);
}
dialog > header {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  gap: 0 var(--drip-spacing);
}
dialog > header > button[command=close] {
  mask-image: var(--drip-icon-close);
  mask-size: contain;
  width: 1em;
  height: 1em;
}
dialog > footer.row, dialog > footer > .row {
  margin-block-end: 0;
}

/*
 * Tags and classes that lay out the blocks of the webpage.
 */
body {
  background-color: var(--drip-color-background);
  color: var(--drip-color-text);
  font-family: sans-serif;
}

.container, .container-full {
  padding: var(--drip-spacing);
}

.container {
  margin-inline: auto;
  max-width: var(--drip-container-width);
}

.row {
  display: flex;
  flex-wrap: wrap;
  gap: 0 var(--drip-spacing);
  margin-block-end: var(--drip-spacing);
}
.row > * {
  flex: 1 1 0;
  margin: 0;
}

header > .container, header > .container-full,
footer > .container, footer > .container-full {
  display: flex;
  justify-content: space-between;
  align-items: center;
}
header > .container nav > ul, header > .container-full nav > ul,
footer > .container nav > ul, footer > .container-full nav > ul {
  padding: 0;
  display: flex;
}
header > .container nav > ul > li, header > .container-full nav > ul > li,
footer > .container nav > ul > li, footer > .container-full nav > ul > li {
  display: block;
}
header > .container nav > ul > li > a, header > .container-full nav > ul > li > a,
footer > .container nav > ul > li > a, footer > .container-full nav > ul > li > a {
  display: block;
  padding: var(--drip-spacing);
  color: inherit;
  text-decoration: none;
}
header > .container nav > ul > li > a[aria-current=page], header > .container nav > ul > li > a:hover, header > .container-full nav > ul > li > a[aria-current=page], header > .container-full nav > ul > li > a:hover,
footer > .container nav > ul > li > a[aria-current=page],
footer > .container nav > ul > li > a:hover, footer > .container-full nav > ul > li > a[aria-current=page], footer > .container-full nav > ul > li > a:hover {
  color: var(--drip-color-link);
}

/*
 * Tags and classes for general document markup.
 */
a {
  color: var(--drip-color-link);
}
a:visited {
  color: var(--drip-color-link-visited);
}
a[href^=http]::after {
  content: "";
  display: inline-block;
  background-color: currentColor;
  mask-image: var(--drip-icon-external);
  mask-size: contain;
  width: var(--drip-small-text-size);
  height: var(--drip-small-text-size);
  margin-inline: 0.1em;
}

dl, h1, h2, h3, h4, h5, h6, ol, p, pre, ul {
  margin-block-end: var(--drip-spacing);
}

h2 {
  border-color: var(--drip-color-border);
  border-bottom-width: 1px;
  border-bottom-style: solid;
}

sub, sup {
  font-size: var(--drip-small-text-size);
}

ol, ul {
  padding-inline-start: calc(var(--drip-spacing) + 1em);
}

.sr-only {
  border: 0;
  clip: rect(0 0 0 0);
  clip-path: inset(50%);
  height: 1px;
  margin: -1px;
  overflow: hidden;
  padding: 0;
  position: absolute;
  white-space: nowrap;
  width: 1px;
}

.text-muted {
  color: var(--drip-color-text-muted);
}

.form-group {
  display: flex;
  flex-direction: column;
}
.form-group > *:not(:last-child) {
  margin-block-end: var(--drip-padding);
}
.form-group > .help-text {
  color: var(--drip-color-text-muted);
  margin-block-end: var(--drip-spacing);
  font-size: var(--drip-small-text-size);
}

label {
  display: block;
  margin-block-end: var(--drip-padding);
}

button, input, meter, progress, select, textarea {
  display: block;
  margin-block-end: var(--drip-spacing);
  width: 100%;
}

button, input[type=button], input[type=reset], input[type=submit], input[type=file]::file-selector-button, input:not([type=file]), select, textarea {
  background-color: var(--drip-color-input);
  border-color: var(--drip-color-border);
  border-radius: var(--drip-padding);
  border-style: solid;
  border-width: 2px;
  color: var(--drip-color-text);
  padding: var(--drip-padding);
}

button, input[type=button], input[type=reset], input[type=submit], input[type=file]::file-selector-button {
  background-color: var(--drip-color-button-background);
  border-color: var(--drip-color-button-background);
  color: var(--drip-color-button-text);
  cursor: pointer;
}

input[type=checkbox], input[type=radio] {
  display: inline;
  width: auto;
}
input[type=checkbox] + label, input[type=radio] + label {
  display: inline;
}

input[type=search] {
  background-image: var(--drip-icon-search);
  background-position: center left var(--drip-padding);
  background-repeat: no-repeat;
  background-size: var(--drip-icon-size) auto;
  padding-left: calc(var(--drip-padding) * 2 + var(--drip-icon-size));
}

textarea {
  min-height: 3em;
  max-width: 100%;
  min-width: 100%;
}
