@use "vars" as *;

@mixin icon($icon, $fg) {
  height: var(#{$css-var-prefix}icon-size);
  width: var(#{$css-var-prefix}icon-size);

  background-color: $fg;
  mask-image: $icon, linear-gradient(#fff, #fff);
  mask-composite: intersect;
  mask-size: contain;
}

@mixin modal {
  background-color: var(#{$css-var-prefix}color-background);
  border-color: var(#{$css-var-prefix}color-border);
  border-radius: var(#{$css-var-prefix}padding);
  border-style: solid;
  border-width: 1px;
  color: var(#{$css-var-prefix}color-text);
  padding: var(#{$css-var-prefix}spacing);
  box-shadow: 1px 1px 2px #000;
}