/*
 * Tags and classes that lay out the blocks of the webpage.
 */

@use "../vars" as *;

body {
  background-color: var(#{$css-var-prefix}color-background);
  color: var(#{$css-var-prefix}color-text);
  font-family: sans-serif;
}

.container, .container-full {
  padding: var(#{$css-var-prefix}spacing);
}

.container {
  margin-inline: auto;
  max-width: var(#{$css-var-prefix}container-width);
}

.row {
  display: flex;
  flex-wrap: wrap;
  gap: 0 var(#{$css-var-prefix}spacing);
  margin-block-end: var(#{$css-var-prefix}spacing);

  &>* {
    flex: 1 1 0;
    margin: 0;
  }
}

header>.container, header>.container-full,
footer>.container, footer>.container-full {
  display: flex;
  justify-content: space-between;
  align-items: center;

  nav>ul {
    padding: 0;
    display: flex;

    &>li {
      display: block;

      &>a {
        display: block;
        padding: var(#{$css-var-prefix}spacing);
        color: inherit;
        text-decoration: none;

        &[aria-current=page],
        &:hover {
          color: var(#{$css-var-prefix}color-link);
        }
      }
    }
  }
}
