@use "../vars" as *;

article,
dl,
footer,
h1,
h2,
h3,
h4,
h5,
h6,
header,
ol,
p,
pre,
section,
ul {
  margin-block-end: var(#{$css-var-prefix}spacing);
}

h1,
h2,
h3,
h4,
h5,
h6 {
  line-height: var(#{$css-var-prefix}text-line-height);
}

ol,
ul,
p {
  max-width: var(#{$css-var-prefix}paragraph-size);
}

ol,
ul {
  ol,
  ul {
    margin-block-end: 0;
  }

  // The `+ 1em` should handle the width of the bullet.
  padding-inline-start: calc(var(#{$css-var-prefix}spacing) + 1em);
}

ol {
  list-style-type: decimal;
  & > li > ol {
    list-style-type: lower-latin;
    & > li > ol {
      list-style-type: lower-roman;
      margin-block-end: 0;
    }
  }
}

ul {
  list-style-type: disc;
  & > li > ul {
    list-style-type: circle;
    & > li > ul {
      list-style-type: square;
    }
  }
}
