/*
 * Tags and classes for general document markup.
 */

@use "../vars" as *;

a[href] {
  color: var(#{$css-var-prefix}color-link);

  &:visited {
    color: var(#{$css-var-prefix}color-link-visited);
  }

  &[href^=http]::after {
    content: "";
    display: inline-block;
    background-color: currentColor;
    mask-image: var(#{$css-var-prefix}icon-external);
    mask-size: contain;
    // This is more of a subscript than a full-sized icon.
    width: var(#{$css-var-prefix}small-text-size);
    height: var(#{$css-var-prefix}small-text-size);
    margin-inline: 0.1em;
  }
}

dl, h1, h2, h3, h4, h5, h6, ol, p, pre, ul {
  margin-block-end: var(#{$css-var-prefix}spacing);
}

h2 {
  border-color: var(#{$css-var-prefix}color-border);
  border-bottom-width: 1px;
  border-bottom-style: solid;
}

sub, sup {
  font-size: var(#{$css-var-prefix}small-text-size);
}

ol, ul {
  // The `+ 1em` should handle the width of the bullet.
  padding-inline-start: calc(var(#{$css-var-prefix}spacing) + 1em);
}

// .sr-only makes an element only visible to screen readers.
.sr-only {
  border: 0;
  clip: rect(0 0 0 0);
  clip-path: inset(50%);
  height: 1px;
  margin: -1px;
  overflow: hidden;
  padding: 0;
  position: absolute;
  white-space: nowrap;
  width: 1px;
}

.text-muted {
  color: var(#{$css-var-prefix}color-text-muted);
}
