@use "../vars" as *;

.horizontal-tb {
  writing-mode: horizontal-tb;
}

.sideways-lr {
  writing-mode: sideways-lr;
}

.sideways-rl {
  writing-mode: sideways-rl;
}

.vertical-lr {
  writing-mode: vertical-lr;
}

.vertical-rl {
  writing-mode: vertical-rl;
}

#{$vertical-layouts} {
  .container {
    max-width: unset;
    max-height: var(#{$css-var-prefix}container-size);
  }
}
