@use "../vars" as *;

.form-group {
  display: flex;
  flex-direction: column;
  margin-block-end: var(#{$css-var-prefix}spacing);
}

input:not([type="checkbox"],[type="radio"]) label {
  display: block;
}

button,
input:not([type="checkbox"],[type="radio"]),
meter,
progress,
select,
textarea {
  display: block;
  inline-size: 100%;
}

input:not([type="file"]),
select,
textarea {
  background-color: var(#{$css-var-prefix}color-input);
  border: 2px solid var(#{$css-var-prefix}color-border);
  border-radius: var(#{$css-var-prefix}padding);
  color: var(#{$css-var-prefix}color-text);
  padding: var(#{$css-var-prefix}padding);
}

#{$button-elements} {
  background: var(#{$css-var-prefix}color-background);
  border: 2px solid var(#{$css-var-prefix}color-link);
  border-radius: var(#{$css-var-prefix}padding);
  color: var(#{$css-var-prefix}color-link);
  cursor: pointer;
  padding: var(#{$css-var-prefix}padding);

  @media (prefers-reduced-motion: no-preference) {
    transition:
      background-color var(#{$css-var-prefix}animation-speed) ease,
      border-color var(#{$css-var-prefix}animation-speed) ease,
      color var(#{$css-var-prefix}animation-speed) ease;
    &:hover {
      color: var(#{$css-var-prefix}color-background);
      background: var(#{$css-var-prefix}color-link);
      border-color: var(#{$css-var-prefix}color-link);
    }
  }
}

input[type="search"] {
  background-image: var(#{$css-var-prefix}icon-search);
  background-position: center left var(#{$css-var-prefix}padding);
  background-repeat: no-repeat;
  background-size: var(#{$css-var-prefix}icon-size) auto;
  padding-inline-start: calc(
    var(#{$css-var-prefix}padding) * 2 + var(#{$css-var-prefix}icon-size)
  );
}

textarea {
  min-block-size: 3em;
  max-inline-size: 100%;
  min-inline-size: 100%;
}
