@use "../vars" as *;

.sideways-lr, .sideways-rl, .vertical-lr, .vertical-rl {
  .dropdown {
    &>[popover] {
      height: 100%;
      width: fit-content;
    }
  }

  input[type=search] {
    background-position: center top var(#{$css-var-prefix}padding);
  }

  button, input, meter, progress, select, textarea {
    width: revert;
    height: 100%;
  }

  input[type=checkbox], input[type=radio] {
    height: revert;
  }

  textarea {
    min-height: 100%;
    max-height: 100%;
    min-width: 3em;
    max-width: revert;
  }
}

html[dir=rtl] {
  input[type=search] {
    background-position: center right var(#{$css-var-prefix}padding);
  }

  .sideways-lr, .sideways-rl, .vertical-lr, .vertical-rl,
  &.sideways-lr, &.sideways-rl, &.vertical-lr, &.vertical-rl {
    input[type=search] {
      background-position: center bottom var(#{$css-var-prefix}padding);
    }
  }
}