@use "../vars" as *;

.sideways-lr,
.sideways-rl,
.vertical-lr,
.vertical-rl {
  input[type="search"] {
    background-position: center top var(#{$css-var-prefix}padding);
  }
}

html[dir="rtl"] {
  input[type="search"] {
    background-position: center right var(#{$css-var-prefix}padding);
  }

  &.sideways-lr,
  &.sideways-rl,
  &.vertical-lr,
  &.vertical-rl {
    input[type="search"] {
      background-position: center bottom var(#{$css-var-prefix}padding);
    }
  }
}
