@use "../mixins" as *;
@use "../vars" as *;

.dropdown {
  & > [popover] {
    @include modal;
    position-area: end center;
    width: 100%;
  }
}

.form-group {
  display: flex;
  flex-direction: column;

  & > *:not(:last-child) {
    margin-block-end: var(#{$css-var-prefix}padding);
  }

  & > .help-text {
    color: var(#{$css-var-prefix}color-text-muted);
    margin-block-end: var(#{$css-var-prefix}spacing);
    font-size: var(#{$css-var-prefix}small-text-size);
  }
}

label {
  display: block;
  margin-block-end: var(#{$css-var-prefix}padding);
}

button,
input,
meter,
progress,
select,
textarea {
  display: block;
  margin-block-end: var(#{$css-var-prefix}spacing);
  width: 100%;
}

input:not([type="file"]),
select,
textarea {
  background-color: var(#{$css-var-prefix}color-input);
  border: 2px solid var(#{$css-var-prefix}color-border);
  border-radius: var(#{$css-var-prefix}padding);
  color: var(#{$css-var-prefix}color-text);
  padding: var(#{$css-var-prefix}padding);
}

#{$button-elements} {
  background: var(#{$css-var-prefix}color-background);
  border: 2px solid var(#{$css-var-prefix}color-link);
  border-radius: var(#{$css-var-prefix}padding);
  color: var(#{$css-var-prefix}color-link);
  cursor: pointer;
  padding: var(#{$css-var-prefix}padding);

  @media (prefers-reduced-motion: no-preference) {
    transition:
      background-color var(#{$css-var-prefix}animation-speed) ease,
      border-color var(#{$css-var-prefix}animation-speed) ease,
      color var(#{$css-var-prefix}animation-speed) ease;
    &:hover {
      color: var(#{$css-var-prefix}color-background);
      background: var(#{$css-var-prefix}color-link);
      border-color: var(#{$css-var-prefix}color-link);
    }
  }
}

input[type="checkbox"],
input[type="radio"] {
  display: inline;
  width: revert;

  & + label {
    display: inline;
  }
}

input[type="search"] {
  background-image: var(#{$css-var-prefix}icon-search);
  background-position: center left var(#{$css-var-prefix}padding);
  background-repeat: no-repeat;
  background-size: var(#{$css-var-prefix}icon-size) auto;
  padding-inline-start: calc(
    var(#{$css-var-prefix}padding) * 2 + var(#{$css-var-prefix}icon-size)
  );
}

textarea {
  min-height: 3em;
  max-width: 100%;
  min-width: 100%;
}
